a {
    text-decoration: none;
    display: inline-block;
}

.new {
    background: deepskyblue;
}

a:before {
    content: '↺';
}

button[type="submit"]:before,
form button:not([type]):before,
a:before {
    display: inline-block;
    font-family: FontAwesome;
    margin-right: .2em;
    width: 1em;
    height: 1em;
}

button[type="submit"],
form button:not([type]) {
    background-color: white;
}

button[type="submit"]:before,
form button:not([type]):before {
    content: '';
}

a.fetching,
button.fetching[type="submit"],
form button.fetching:not([type]) {
    cursor: not-allowed;
    pointer-events: none;
    background: khaki;
}

a.fetching:before,
button.fetching[type="submit"]:before,
form button.fetching:not([type]):before {
    content: "";
    animation: fetching 1s infinite linear;
    border-radius: 50%;
    border-top: .2em solid #ffffff;
    border-left: .2em double #ffffff;
    border-bottom: .2em dotted #ffffff;
    border-right: .2em solid transparent;
    margin-top: .2em;
    margin-left: .1em;
    font-size: .7em;
}

@keyframes fetching {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}